<div class="site-nav-banner--text-content">
    <span class="site-nav-banner--title">{{ text }}</span>
    <span class="site-nav-banner--button">
        Shop Now 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
            <path d="M10.7751 9.48691H2.73657V8.16641H10.7751L7.0777 4.46902L8.01855 3.54468L13.3005 8.82666L8.01855 14.1086L7.0777 13.1843L10.7751 9.48691Z" fill="white"/>
        </svg>    
    </span>
</div>