.social_caller,
.section-header-mobile,
.sidebar-widget-btn,
.sections-rich-text,
.footer,
.section-header-navigation,
.section-header-basic {
    display:none !important;
}

body {
    overflow:hidden;
}

.video-responsive__wrapper {
    height:100vh;
}